/*
	Theme Name: The Voux Child Theme
	Theme URI: https://themeforest.net/item/the-voux-a-comprehensive-magazine-theme/11400130
	Description: <strong>A Premium theme for magazine, editor, community and more! WordPress Theme by <a href="http://www.themeforest.net/user/fuelthemes">fuelthemes</a></strong> – Update notifications available on Twitter and Themeforest <a href="http://twitter.com/anteksiler">Follow us on twitter</a> – <a href="http://themeforest.net/user/fuelthemes">Follow us on Themeforest</a>
	Version: 1.0.0
	Author: fuelthemes
	Template: thevoux-wp
	Text Domain: thevoux-wp
	Domain Path: /inc/languages
*/