.pagination {
	margin: 0 0 40px;
	.screen-reader-text {
		display: none;
	}
	ul,
	.nav-links {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			display: inline-block;
		}
		
		.page-numbers {
			display: inline-block;
			font-size: 11px;
			color: #767676;
			border: 1px solid #e9e9e9;
			width: 32px;
			height: 32px;
			line-height: 32px;
			text-align: center;
			font-weight: 600;
			vertical-align: middle;
			&.dots {
				border-color: transparent;
				position: relative;
				    top: -3px;
			}
			&:not(.dots):hover,
			&.current {
				color: #fff;
				background: $color1;
				border-color: $color1;	
			}
			&.prev,
			&.next {
				font-size: 14px;
				vertical-align: middle;
			}
		}
	}
}