body {
	color: #545353;
	font-family: 'Lora', serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.8;
	margin: 20px 40px;
	max-width: 670px;
	vertical-align: baseline;

	img {
		max-width: 100%;
		height: auto;
	}
	.html5-captions .wp-caption {
		max-width: 100%;
	}
	.wpview {
		iframe {
			max-width: 100%;
		}
	}
}
